.container { 
    max-width: none;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#home a {
    text-decoration: none;
}

h1 {
    font-size: 75px;
    font-weight: normal;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: normal;
}

h3 {
    text-align: center;
    font-size: 35px;
    font-weight: normal;
}

.container {
    padding: 0;
    width: 100%;
}

.container .row {
    margin: 0;
}

.container .col:first-child, .container .col:last-child {
    position: sticky;
    flex-grow: 1;
    width: 250px;
    max-width: 250px;
    top: 0;
    align-self: start;
    padding: 25px;
    height: 100vh;
}

.container .col:first-child {
    border-right: 1px solid #ced4da;
}

.container .col:last-child {
    border-left: 1px solid #ced4da;
}

.container .col:nth-child(2) {
    flex-grow: 999;
    max-width: calc(100vw - 400px);
    text-align: center;
    padding-bottom: 100px;
}

code {
    text-align: left;
}

html {
    scroll-behavior: smooth;
}

.docs-menu, .docs-menu .list-group-item {
    border: none;
    padding-left: 0;
    width: 200px;
}

.docs-menu .list-group-item a {
    border: none;
    color: rgba(0, 0, 0, 0.65);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.docs-menu:hover, .docs-menu .list-group-item a:hover {
    color: rgba(0, 0, 0, 0.85);
    background-color: rgba(121, 82, 179, 0.10);
}

.docs-menu .list-group-item a.active {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h4 {
    color: rgba(0, 0, 0, 0.65);
    font-size: inherit;
    font-weight: bold;
}

.col {
    padding: 0 25px;
}

.code-badge-language {
    display: none;
}

#hamburger {
    position: absolute;
    top: 5px;
    left: 5px;
    display: none;
}

.docs, .col p, .col span {
    max-width: 800px;
    display: inline-block;
    text-align: left;
}

@media screen and (max-width: 1000px) {
    .docs, .col p, .col span {
        max-width: 85vw;
    }

    #sidebar-menu {
        position: absolute;
        top: 50px;
        left: 0;
        background-color: white;
        height: 100%;
        display: none;
        z-index: 999;
        padding-right: 25px;
    }

    #hamburger {
        display: initial;
    }

    .container .col:nth-child(2) {
        max-width: 100vw;
    }

    .container .col:last-child {
        display: none;
    }

    .docs {
        max-width: 100%;
    }
}

.toast-header.bg-secondary {
    color: white;
}
.toast-header.bg-secondary .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}
